@import '../../App.scss';
.cat-undertitle{
    text-align: center;
    color: $Pink;
    text-transform: uppercase;
    margin-bottom: 28px;
    display: block;
    font-size: 18px;
}
.cat-title{
    text-align: center;
    color: $DarkBlue;
    font-size: 44px;
    margin-bottom: 80px;
}
.categories{
    margin-top: 200px;
}
.services-icon{
    img{
        width: 60px;
        height: 60px;
    }
}


.catcard{
    width: 270px;
    height: 240px;
    .catcard-wrap{
        height: 100%;
        width: 100%;
        border: 1px solid #dafcef;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.services-cap{
    .cap-link{
        text-decoration: none;
        font-size: 20px;
    }
    span{
        font-size: 18px;
        color: $Pink;
    }
}
.cat-col{
 display: flex;
}

// @media screen and (max-width:767px){
//     .cat-container{
//         padding-right: 60px;
//     }
   
//  }
 @media screen and (max-width:575px){
    .cat-col{
        padding: 0px;
        justify-content: center;
    }
   
 }

//  .cat-col{
//     display: flex;
//     justify-content: center;
//     padding: 0 !important;
//  }