@import '../../App.scss';

.createteam{
    height: 500px;
    background: url('../../assets/img/crteam.webp');
    .createteam-wrap{
        height: 100%;
        width: 100%;
        background-color: rgba(31,43,123,0.8);
        .createteam-items{
            padding: 70px 0;
            width: 50%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .createteam-undertitle{
                color: white;
                font-size: 20px;
            }
            .createteam-title{
                color: white;
                font-size: 54px;
                text-align: center;
            }
            .createteam-btn{
                width: 278px;
                height: 61px;
                border: 1px solid $LightViolet;
                background-color: transparent;
                color: $LightViolet;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
        }
    }   
}
@media screen and (max-width:810px){
    .createteam-title{
        font-size: 32px !important;
    }
    .createteam-undertitle{
        font-size: 24px !important;
    }
 }
 @media screen and (max-width:610px){
    .createteam-items{
        width: 80% !important;
    }
 }
 @media screen and (max-width:510px){
     .createteam-title{
        font-size: 28px !important;
    }
    .createteam-undertitle{
        font-size: 20px !important;
    }
    .createteam-items{
        width: 80% !important;
    }
 }
 @media screen and (max-width:325px){
   .createteam-items{
       width: 90% !important;
      
   }
   .createteam-btn{
     width: 200px !important;
   }
}