@import '../../App.scss';
.header-container{
    width: 95%;
    margin: 0 auto;
    
}
.logo-container{
    flex: 0 1 auto;
    .header-logo{
        height: 120px;
    }
}
.logo-title{
    font-size: 18px;
    min-width: 135px;
    span{
        color: $DarkBlue;
        font-weight: 900;
        font-size: 28px;
    }
    color: $Pink;
}
.header-links{
    flex: 1 1 30%;
    ul{
        width: 100%;
        gap: 10%;
        justify-content: center;
        display: flex;
        list-style: none;
        li{
            color: $DarkBlue;
            font-size: 18px;
        }
        a{
            color: $DarkBlue;
            font-size: 18px;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
.header-btns{
    flex: 0 1 auto;
    justify-self: flex-end;
    gap: 15px;
    .btn-reg{
        @include HeaderBtn();
        background-color: $Pink;
        color: white;
        border: none;
        position: relative;
        &::after{
            content: 'Register';
            position: absolute;
            top: 25%;
            left: 28%;
            z-index: 3;
        }
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: #da2461;
            transform: scaleX(0);
            transition:  0.5s ease-out;
            transform-origin: 0 0;    
        }
        &:hover{
            &::before{
                content: '';
                transform: scaleX(1);
                color: #fff;
               
              
            }
        }
    }
    .btn-log{
        @include HeaderBtn();
        border: 1px solid $Pink;
        color: $Pink;
        background-color: transparent;
        position: relative;
        &::after{
            content: 'Log In';
            position: absolute;
            top: 25%;
            left: 30%;
            z-index: 3;
        }
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: #da2461;
            transform: scaleX(0);
            transition:  0.5s ease-out;
            transform-origin: 0 0;    
        }
        &:hover{
            &::before{
                content: '';
                transform: scaleX(1);
                color: #fff;
               
              
            }
            &::after{
                color: white;
            }
        }

    }
}
.fixedheader-wrap{
    display: none;
    height: 120px;
    width: 100%;
    position: fixed;
    top: -120px;
    left: 0;
    z-index: 2;
    background-color: white;
    transition: transform 5s ease-in;
}
.header-username{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
   span{
    color: rgb(20, 20, 212);
    text-decoration: underline;
    font-size: 20px;
   }
    img{
        height: 30px;
        width: 30px;
    }
}
.btn-logout{
    @include HeaderBtn();
    border: 1px solid $Pink;
    color: $Pink;
    background-color: transparent;
    position: relative;
    &::after{
        content: 'Log Out';
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 3;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #da2461;
        transform: scaleX(0);
        transition:  0.5s ease-out;
        transform-origin: 0 0;    
    }
    &:hover{
        &::before{
            content: '';
            transform: scaleX(1);
            color: #fff;
           
          
        }
        &::after{
            color: white;
        }
    }

}

li .active{
  transition: padding .2s linear;
  border-bottom: 2px solid $HoverColor;
  padding-bottom: 10px;
}