@import '../../App.scss';
.header-container{
    width: 95%;
    margin: 0 auto;
    
}
.logo-container{
    flex: 0 1 auto;
    .header-logo{
        height: 120px;
    }
}
.logo-title{
    font-size: 18px;
    min-width: 135px;
    span{
        color: $DarkBlue;
        font-weight: 900;
        font-size: 28px;
    }
    color: $Pink;
}
.header-links{
    flex: 1 1 30%;
    ul{
        width: 100%;
        gap: 10%;
        justify-content: center;
        display: flex;
        list-style: none;
        li{
            color: $DarkBlue;
            font-size: 18px;
        }
    }
}
.header-btns{
    flex: 0 1 auto;
    justify-self: flex-end;
    gap: 15px;
    .btn-reg{
        @include HeaderBtn();
        background-color: $Pink;
        color: white;
        border: none;
    }
    .btn-log{
        @include HeaderBtn();
        border: 1px solid $Pink;
        color: $Pink;
        background-color: transparent;

    }
}
.fixedheader-wrap{
    display: none;
    height: 120px;
    width: 100%;
    position: fixed;
    top: -120px;
    left: 0;
    z-index: 2;
    background-color: white;
    transition: transform 5s ease-in;
}

