@import '../../App.scss';
.history-title{
    font-weight: 500;
    border-bottom: 1px solid black;
}
.hisitem, .assitem{
    border: 1px solid gray;
}
.hisitem-icon{
   img{
    width: 40px;
    height: 40px;
   }
}
.team-name, .username{
    font-weight: 900;
}
.history-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hisitem-controls{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    gap: 20px;
}
.hisitem-controls-btn{
    width: 60px;
    height: 40px;
    border: none;
    color: white;
}

.btn-yes{
    background-color: $FormGreen;
}
.btn-no{
    background-color: red;
}
.rejected{
    color: red;
    text-transform: uppercase;
}
.approved{
    color: green;
    text-transform: uppercase;
}
.hisitem-close{
    flex-grow: 1;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    button{
        background: url('../../assets/icon/bin.png');
        background-size: contain;
        border: none;
        height: 30px;
        width: 30px;
        &:hover{
            scale: (1.3);
        }
    }
}