$Pink: #FB246A;
$DarkBlue: #183262;
$LightViolet: #8b92dd;
$HoverColor: #da2461;
$LightBlack: #4C4C4C;
$DarkBlack:#222222;
$FormGreen: #27AE60;
@mixin HeaderBtn{
    width: 149px;
    height: 62px !important;
    height: auto;
    padding: 15px;
    font-size: 20px;

}

